@model IEnumerable<SoundCloud.WebUI.Models.SoundViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @if(Model == null)
    {
    <div>There is no any entities yet.</div>
    }
    else
    {
    foreach(var entity in Model)
    {
    if  (entity == null)  {
    @:None
    } else {
    <a href=@entity.FileImage>asdf</a>
    <img src=@entity.FileImage height="42" width="42">
         }
         }
         }></div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div >
        
    </div>
</div>